<h2>商品詳細</h2>


  <div><%= image_tag item.image, size: "200x200" %></div>
  
  <table>
    <tr>
	    <th>商品名</th>
	    <th><%= item.name %></th>
    </tr>
    <tr>
	    <th>商品説明</th>
	    <th><%= item.introduction %></th>
    </tr>
    <tr>
  	  <th>ジャンル</th>
  	  <th><%= item.genre_id.name %></th>
    </tr>
     <tr>
  	  <th>税込価格</br>（税抜価格）</th>
  	  <th></th>
    </tr>
    <tr>
  	  <th>販売ステータス</th>
  	  <th>
  	    　<% if item.is_sold_out == true %>
            販売停止中
          <% else %>
            販売中
          <% end %>
      </th>
    </tr>
  </table>