@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.footerFixed{
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;

}

  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&display=swap');

.logo{
  font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
}