<h2>商品一覧</h2>


<% @items.each do |item| %>

　　<tbody>
      <tr>
        <td><%= link_to item.name, item_path(item.id) %></td>
        <td><%= item.price %></td>
      </tr>
 　 </tbody>
 　  
<% end %>