<div class = "input-group">
  <input typ = "text" class = "form-control" placeholder = "Search">
  <button class = "btn btn-light" type = "button" id = "button-addon2"><i class = "fas fa-search"></i></button>
</div>